openapi: 3.2.0
info:
  title: OpenFIGI Reference API
  description: 'The OpenFIGI API is the free, public REST API operated by Bloomberg as

    Registration Authority for the Object Management Group (OMG) Financial

    Instrument Global Identifier (FIGI) standard.'
  version: 3.0.0
  contact:
    name: OpenFIGI Support
    url: https://www.openfigi.com/api
  license:
    name: OpenFIGI Terms of Service
    url: https://www.openfigi.com/about/terms
servers:
- url: https://api.openfigi.com/v3
  description: OpenFIGI v3 production
security:
- {}
- ApiKeyAuth: []
tags:
- name: Reference
  description: Enumerated values for request and response fields.
paths:
  /mapping/values/{key}:
    get:
      operationId: listMappingValues
      summary: List Enumerated Values For A Mapping Field
      description: 'Return the list of valid values for an enum-like mapping field such as

        `idType`, `exchCode`, `currency`, `securityType`, `securityType2`,

        `marketSecDes`, `micCode`, or `stateCode`.'
      tags:
      - Reference
      parameters:
      - name: key
        in: path
        required: true
        description: The mapping field to enumerate.
        schema:
          type: string
          enum:
          - idType
          - exchCode
          - currency
          - micCode
          - marketSecDes
          - securityType
          - securityType2
          - stateCode
      responses:
        '200':
          description: Valid values for the given field.
          content:
            application/json:
              schema:
                type: object
                properties:
                  values:
                    type: array
                    items:
                      type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorBody'
    BadRequest:
      description: Malformed request (validation failed, schema mismatch, etc.).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorBody'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-OPENFIGI-APIKEY
      description: 'Optional OpenFIGI API key. Sign up at https://www.openfigi.com/user/signup

        to receive a key and unlock higher rate limits.

        '
